/* banner轮播 */
#banner{
    width: 100%;
    height: 400px;
    background-size: 100%;
    position: relative;
    overflow: hidden;
   
 }
 .pic{
     width: 400%;
     height: 400px;
     transition: 1s;
     overflow: hidden;
     
 }
 #banner button{
     position: absolute;
     bottom: 100px;
     background: rgba(0, 0, 0, 0.3);
     color:#fff ;
     font-size: 26px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     outline: none;
     border: none;
     cursor: pointer;
     z-index: 9999;
 }
 #banner button:nth-of-type(1){
     left: 200px;
 }
 #banner button:nth-of-type(2){
     right: 200px;
 }
 
 #banner button:hover{
     background: #fefefe;
     color: #000;
 }
 #banner ul{ 
     height: 80px;
     width: 200px;
     position: absolute;
     bottom: 0;
     left: 50%;
     margin-left: -100px;
     text-align: center;
 
 }
 #banner ul li{
     list-style: none;   
     display: inline-block;
     width: 20px;
     height: 20px;
     background: #fff;
     border-radius: 50%;
     margin: 0 10px;
     z-index:99999;
     cursor: pointer;
    
 
 }
 #banner li.banactive{
     background: red;
 }
 #banner img{
     float: left;
     width: 25%;
     height: 400px;
 }
  #banner p{
     position: absolute;
     top: 0;
     left: 0;
     padding-top: 150px;
     height: 250px;
     width: 100%;
     text-align: center;
     z-index:1;
     background:rgba(0, 0, 0, 0.2);
     pointer-events: none;
 
 }
 
 #banner p i{
     z-index:1;
     color:#fff;
     font-size: 18px;
     display: block;
     
 }
 #banner p i:first-letter{
     font-size: 22px;
     padding-right: 3px;
 }
 #banner p i:nth-child(1){
    background:url(../images/line.png)no-repeat 550px center;
    /* background-position:0 100px; */
    background-size: 10%;

 }

 #banner p i:nth-child(2){
    
    background:url(../images/line.png)no-repeat 820px center;
    /* background-position: 0 200px; */
    background-size: 10%;
    /* background: orange; */

 }