@charset " utf-8";
/* 公共部分 */
.header-con,.footer-con{
    width: 1118px;
    margin: 0 auto;
}
/* header部分 */
.header-con{
    height: 80px;
}
.header-con h1{
    height: 80px;
    width: 145px;
    float: left;
    margin-right: 200px;
}
.header-con h1 img{
    width: 100%;
    height: 100%;
}
.header-con p a{
    color:#333 ;
    font-size: 16px;
    float: left;
    height: 78px;
    line-height: 78px;
    padding:0px 45px ;
}
.header-con  p .nav-active{
    color: #866961;
    border-bottom: 2px solid #866961;
}

/* footer部分 */
footer{
    background: #866961;
}
.footer-con{
    height: 84px;
}
.footer-con p{
    height: 84px;
    padding-top:32px;
    box-sizing: border-box;
    float: left;
    font-size: 14px;
    color: #fefefe;
    margin: 0px 190px 0px 50px;
}
.footer-con h1{
    float: left;
    height:84px ;
    box-sizing: border-box;
    padding-top: 14px;
    width: 141px;
    margin: auto 0;
}
/* 地图 */