@charset " utf-8";
/* banner */
#banner{
    height: 397px;
}
.box{
    width: 100%;
    height:397px;
    position: relative;
}
.pic{
    width: 100%;
    height: 397px;
    position: absolute;
    top: 0;
    left: 0;
}
/* case nav_index*/
.nav_index{
    width: 400px;
    float:right;
    margin-right: 80px;
    font-size: 14px;
    padding-top: 27px ;
    color: #000;
}
.nav_index strong{
    margin: 0px 15px;
}
.nav_index span{
    display: none;
}
.nav_index span.active{
    display:inline-block;
    color:#fe785f ;
}

/* case  case_top */ 
.case_top{
    padding-top:50px;
    height:42px;
}
.case_top h3{
    padding-left:20px;
    line-height:43px;
    color: #5d5d5d;
    font-size: 22px;
    background: url(../images/nav_index_05.jpg)no-repeat left center;
}
.case_top h6{
    color:#676767;
    font-size: 12px;
    line-height:35px;
}
/* case  case_bottom */
.case_bottom h3{
    text-align: center;
    margin:50px 0px 55px;
    line-height:35px;
    color: #5d5d5d;
    font-size: 18px;
    background: url(../images/index-border2_03.jpg)no-repeat center;
}
.left{
    height: 310px;
    width: 130px;
    float: left;
    padding-left:40px;
    background: url(../images/case-border_l_03.jpg)no-repeat left top;
}
.left div{
    height: 310px;
    width: 130px;
   
}
.left  div p{
    color: #494949;
    height: 30px;
    padding: 15px 15px 0px 0px;
    width:80px
}
.left  div p.active{
    background: url(../images/aboutbg_06.jpg)no-repeat right center;
    color:#fe785f ;
}
aside{
    padding-top: 20px;
    float: left;
    width:1000px;
    display: none;
}
aside.active{
    display: block;
}
