@charset " utf-8";
/* 版心 */
.news-con{
    width: 1230px;
    margin: 0 auto;
}
/* case news */
.news-con .news_box {
    width: 1000px;
    margin: 0px auto;
    min-height:500px;
}
.news-con .news_box h2{
    line-height: 30px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom:1px solid #000;
}
.news-con .news_box dl{
    width: 1016px;
    height: 694px;
    padding-bottom: 64px;
    background: url(../images/about-border_06.jpg)no-repeat bottom;
    background-size: 100%;
}
.news-con .news_box dl dt{
    padding:30px 0px;
    line-height: 20px;
    color: #666;
}


.news-con .news_box dl dd{
    overflow: hidden;
    height: 541px;
}
.news-con .news_box dl dd h4 a{
    color: #333;
    font-size:16px;
    line-height: 18px;

}